@import '../../styles/colors';
@import '../../styles/common';
@import '../../styles/variables';

#presentations {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $container-color;

    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        height: 100%;

        .card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 100%;
            padding: 15px;
        }
    }

    .vp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        background-color: $theme-color;
        gap: 10px;
        border-radius: 5px;
        width: 100%;
        user-select: none;

        .vp-label {
            display: flex;
            gap: 15px;
            align-items: center;
            cursor: pointer;
            width: 100%;
            max-width: 70%;
        }

        .name {
            color: #fff;
            word-break: break-all;
            font-size: $px12;
        }

        .icon {
            color: $red;
            transition: all 0.4s ease;
            cursor: pointer;
            font-size: 0.9em;
            height: max-content;

            &:active {
                color: $dark-red;
            }
        }
    }
}
