@import '../../styles/colors';
@import '../../styles/common';
@import '../../styles/variables';

#presentations {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $container-color;

    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        height: 100%;

        .card {
            height: 100%;
        }
    }
}
