<div id="guides">
    <div class="title-bar">
        <mat-icon (click)="onGoBack()" class="back-icon">navigate_before</mat-icon>
        <p class="title">Guides</p>
    </div>

    <div class="body">
        <div class="card guides-card">
            <p class="title">Guides (Right click -> Open)</p>
            <div class="list">
                <span class="item"
                    ><span
                        ><span class="highlight">Create an Key DID</span>. A full DID is did:key: +
                        key Address</span
                    >
                </span>
                <span class="item">Algorithm is ED25519 for keys</span>
                <span class="item">Kid value is user_DID + #ownerfor keys </span>
                <span class="item">More details on Github </span>
                <span class="item">Client Library on NPM </span>
                <span class="item">Homepage didsiop.org</span>
            </div>
        </div>
    </div>
</div>
