@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/common';

#login {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $theme-color;
    padding: $container-padding;
    width: 100%;
    min-height: 100%;

    .logo {
        width: 100%;
        max-width: 65px;
        fill: white;
    }

    .description {
        color: white;
        font-size: $px15;
        max-width: 220px;
    }

    .title-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .form {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }
}
