@import '../../../styles/colors';
@import '../../../styles/common';
@import '../../../styles/variables';

#resolve-did {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .select-wrap {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    #resolve-did-chainCodeType {
        outline: none;
        border: 2px solid #00000014;
        padding: 2px 10px 2px 2px;
        width: fit-content;
        border-radius: 5px;
    }
}
