<div id="resolve-did">
    <label>
        Select DID Path: &nbsp;

        <select
            id="resolve-did-didPathType"
            (change)="onSelectChange($event)"
            name="path"
            #didPathType>
            <option value="custom" selected>Custom</option>
            <option value="m/256/256/1">Issuer</option>
            <option value="m/256/256/2">Holder</option>
        </select>
    </label>

    <input
        id="resolve-did-didPath"
        (input)="onPathChange($event)"
        class="input"
        type="text"
        name="didPath"
        placeholder="DID Path (m/256)"
        [value]="didPath" />

    <textarea
        readonly
        id="resolve-did-didAddress"
        class="input textarea no-resize"
        type="text"
        name="didAddress"
        placeholder="DID Address"
        [value]="didAddress"
        cols="30"
        rows="5"></textarea>
</div>
