@import '../../colors';

.credentials {
    .title-wrap {
        width: 100%;
        padding: 10px;

        .vcs-title {
            padding: 0 !important;
            font-weight: 600;
        }
    }

    .vp-name-txt {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .vcs {
        width: 360px;
        height: 350px;
        padding-top: 10px;
        padding-bottom: 25px;
        overflow-y: auto;
        background-color: $app-section-background;

        .vc-row {
            gap: 10px;
            width: 100%;
            flex-wrap: nowrap !important;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 10px;
        }

        .vc-data {
            gap: 10px;
            width: 100%;
        }

        .btn-vc {
            text-align: left;
            width: 100%;
        }
    }

    .modal-info {
        padding: 10px 0;
        font-weight: 600;
    }

    .error {
        color: red;
    }

    .waiting {
        color: $app-primary;
    }

    .no-bottom-margin {
        margin-bottom: 0 !important;
    }
}
