@import '../../colors';

.credentials {
    .vcs-title {
        padding: 10px;
        font-weight: 600;
    }

    .vcs {
        width: 360px;
        height: 350px;
        padding-top: 10px;
        padding-bottom: 25px;
        overflow-y: auto;
        background-color: $app-section-background;

        .btn-vc {
            width: 100%;
        }
    }
}
