<div class="credentials">
    <div class="title-wrap d-flex flex-row justify-content-between align-items-center">
        <p class="vcs-title">Credentials</p>
        <button #modalCreate (click)="createVP()" class="btn bg-primary btn-add icon-button">
            <span class="material-symbols-rounded"> add </span>
        </button>
    </div>
    <div class="d-flex flex-column align-items-center container-fluid vcs">
        <div class="input-group d-flex flex-row align-items-center vc-row"
            *ngFor="let data of currentVCs; let i = index">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox" [checked]="selected[data.index]"
                        (change)="selected[data.index] = !selected[data.index]" />
                </div>
            </div>

            <div class="d-flex flex-row justify-content-between align-items-center vc-data">
                <span>{{ formatVC(data.vc)?.title }}</span>
                <button (click)="removeCredential(data.index)" class="btn btn-danger btn-remove icon-button">
                    <span class="material-symbols-rounded"> delete_outline </span>
                </button>
            </div>
        </div>
    </div>
    <p class="modal-info" #modalInfo></p>
</div>
<button class="btn btn-link btn-back" (click)="goBack()">Go Back</button>