<div id="credentials">
    <div class="title-bar">
        <p class="title">Credentials</p>
    </div>

    <div class="body">
        <button (click)="createPresentation()" class="button">Create Presentation</button>

        <div class="card">
            <div *ngFor="let vc of currentVCs; let i = index;" class="vc">
                <label class="vc-label">
                    <input type="checkbox" class="checkbox" [checked]="selectedVCs[i]"
                        (change)="selectedVCs[vc.index] = !selectedVCs[vc.index]" />
                    <span class="name">{{getName(vc) || 'VC ' + vc.index }}</span>
                </label>
                <mat-icon (click)="removeVC(vc.index)" class="icon">cancel</mat-icon>
            </div>
        </div>
    </div>
</div>