<div id="profile">
    <div class="title-bar">
        <mat-icon (click)="onGoBack()" class="back-icon">navigate_before</mat-icon>
        <p class="title">Profile</p>
    </div>

    <div class="body">
        <div class="card profile-card">
            <img [src]="profileImage" alt="Profile Picture" class="profile-image" />
            <label class="text-button">
                <span>Change Profile Picture</span>
                <input type="file" accept=".png, .jpg, .jpeg" (change)="onImage($event)" hidden />
            </label>
        </div>

        <div class="card section-card keys-card">
            <form [formGroup]="profileForm" class="form" (submit)="update()">
                <div class="input-wrap">
                    <span class="label">Name</span>
                    <input formControlName="name" type="text" class="input" />
                </div>
                <div class="input-wrap">
                    <span class="label">Email</span>
                    <input formControlName="email" type="email" class="input" />
                </div>
                <div class="input-wrap">
                    <span class="label">Nickname</span>
                    <input formControlName="nickname" type="text" class="input" />
                </div>

                <p class="warn-message" #message></p>

                <input type="submit" value="Update" class="button" />
            </form>
        </div>
    </div>
</div>
