<div id="home" class="container">
    <div class="top-content">
        <div class="top-bar">
            <mat-icon (click)="onSelectGuides()" class="info-icon">info</mat-icon>
        </div>
        <div class="title-wrap">
            <img src="assets/logo/logo.svg" alt="Logo" class="logo" />
            <p class="description">
                Self-issued OpenIDConnect Provider based on Decentralized identities
            </p>
        </div>
        <img [src]="profileImage" alt="Profile Picture" class="profile-image" />
    </div>

    <div class="body">
        <div class="card key-card">{{ currentDID || 'No key is available' }}</div>

        <h4 class="pending-title">Pending Requests</h4>

        <div class="card requests-card">
            <div
                *ngFor="let request of currentRequests"
                class="key"
                (click)="onSelectRequest(request)">
                {{ request.client_id }}
            </div>
        </div>
    </div>

    <div class="hidden-model">
        <div #confirmRequest>
            <app-confirm-request [data]="confirmRequestData"></app-confirm-request>
        </div>
    </div>
</div>
