<div id="home" class="container">
    <div class="top-content">
        <div class="top-bar">
            <mat-icon class="info-icon">info</mat-icon>
        </div>
        <div class="title-wrap">
            <img src="assets/logo/logo.svg" alt="Logo" class="logo" />
            <p class="description">Self-issued OpenIDConnect Provider based on Decentralized identities</p>
        </div>
        <img src="assets/avatar.png" alt="Profile Picture" class="profile-image">
    </div>

    <div class="body">
        <div class="card key-card">No key is available</div>

        <h4 class="pending-title">Pending Requests</h4>

        <div class="card requests-card">
            <div class="key">did:key:z6MkswmCzzSLJEq5AM2EU9zDaoi7fLq7nLQVTX3qWj&&ymJe </div>
        </div>
    </div>
</div>