@import '../../../colors';

.new-key-modal-input-label {
    padding-left: 10px;
}

.new-key-modal-input {
    textarea {
        background-color: $app-section-background;
    }
}
#newKeyModal {
    .modal-radio-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;

        .radio-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
