<div id="settings">
    <div class="title-bar">
        <p class="title">Settings</p>
    </div>

    <div class="body">
        <div class="card profile-card" (click)="onSelectProfile()">
            <div class="profile-wrap">
                <img [src]="profileImage" alt="Profile Image" class="profile-image" />
                <p class="name">{{ name }}</p>
            </div>

            <mat-icon class="icon">navigate_next</mat-icon>
        </div>

        <div class="divider"></div>

        <div class="card section-card">
            <div class="top">
                <p class="title">Current Identity</p>
                <div class="buttons">
                    <span (click)="onTestKeys()" class="text-button">Test</span>
                    <span (click)="onTestKeys()" class="text-button">Create</span>
                    <span (click)="onChangeDID()" class="text-button">Change</span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="content">
                <span class="key">{{ currentDID || 'No key is available' }}</span>
            </div>
        </div>

        <div class="card section-card keys-card">
            <div class="top">
                <p class="title">Signing Keys</p>
                <div (click)="onAddNewKey()" class="buttons">
                    <span class="text-button">Add New Key</span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="content">
                <div *ngFor="let key of currentKeys; let i = index" class="keys">
                    <span (click)="onSelectKey(key)" class="key">Key - {{ i }}</span>
                </div>
            </div>
        </div>

        <div class="card section-card">
            <div class="top">
                <p class="title">Password</p>
                <div (click)="onChangePassword()" class="buttons">
                    <span class="text-button">Change</span>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="card logout-card" (click)="onSelectGuides()">
            <div class="logout-wrap">
                <mat-icon class="icon">info</mat-icon>
                <p class="text">View Guides</p>
            </div>

            <mat-icon class="icon">navigate_next</mat-icon>
        </div>

        <div class="card logout-card" (click)="logout()">
            <div class="logout-wrap">
                <mat-icon class="icon">logout</mat-icon>
                <p class="text">Logout</p>
            </div>

            <mat-icon class="icon">navigate_next</mat-icon>
        </div>
    </div>

    <div class="hidden-model">
        <div #changePasswordEl>
            <app-change-password></app-change-password>
        </div>
        <div #addNewKeyEl>
            <app-add-key></app-add-key>
        </div>
        <div #changeDIDKeyEl>
            <app-change-did></app-change-did>
        </div>
    </div>
</div>