@import '../../styles/colors';
@import '../../styles/common';
@import '../../styles/variables';

#settings {
    display: flex;
    flex-direction: column;
    background-color: $container-color;
    height: 100%;

    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: $container-padding;
    }

    .icon {
        color: $theme-color;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: #00000014;
    }

    .profile-card {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 10px;

        &:active {
            background-color: #eee;
        }

        .profile-wrap {
            display: flex;
            align-items: center;
            gap: 10px;

            .profile-image {
                width: 24px;
                height: 24px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .logout-card {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 10px;

        &:active {
            background-color: #eee;
        }

        .logout-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: $px12;
        }
    }

    .section-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        min-height: 40px;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            font-size: $px12;

            .title {
                color: $black;
            }

            .buttons {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .key {
            word-break: break-all;
            font-size: $px12;
            color: $secondary;
            font-weight: 500;
        }
    }

    .keys-card {
        .keys {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .key {
                color: $theme-color;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease;

                &:active {
                    color: $dark-theme-color;
                }
            }
        }
    }
}
